







 



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

              <div class="info-box-content">

                <span class="info-box-text"><a href="#" routerLink= "createOrder">Employee</a></span>
                <span class="info-box-number">
                  150

                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-file-import"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Leave</span>
                <span class="info-box-number">7</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-folder-open"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Projects</span>
                <span class="info-box-number">5</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-fingerprint"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Attendance | Today</span>
                <span class="info-box-number">143</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Running Projects</h5>




                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                      <a href="#" class="dropdown-item">Action</a>
                      <a href="#" class="dropdown-item">Another action</a>
                      <a href="#" class="dropdown-item">Something else here</a>
                      <a class="dropdown-divider"></a>
                      <a href="#" class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">

                    <div class="table-responsive">


                      <table class="table m-0">
                        <thead>
                        <tr>
                          <th>Project ID</th>
                          <th>Title</th>
                          <th>Start Date</th>
                          <th>End Date</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR9842</a></td>
                          <td>Graphics Illustration</td>

                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                          </td>
                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR1848</a></td>
                          <td>Real State Site</td>

                          <td>
                            <div class="sparkbar" data-color="#f39c12" data-height="20"></div>
                          </td>
                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                          </td>
                        </tr>
                        <tr>
                          <td><a href="pages/examples/invoice.html">OR7429</a></td>
                          <td>Customer Care Service</td>

                          <td>
                            <div class="sparkbar" data-color="#f56954" data-height="20">01/03/2023</div>
                          </td>
                          <td>
                            <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                          </td>
                        </tr>




                        </tbody>
                      </table>



                      </div>


                    <!-- <p class="text-center">
                      <strong>Sales: 1 Jan, 2023 - 30 Jul, 2023</strong>
                    </p> -->

                    
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong>Goal Completion</strong>
                    </p>

                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Task</th>
                            <th>Progress</th>
                            <th style="width: 40px">Label</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.</td>
                            <td>Graphics Illustration</td>
                            <td>
                              <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                              </div>
                            </td>
                            <td><span class="badge bg-danger">55%</span></td>
                          </tr>
                          <tr>
                            <td>2.</td>
                            <td>Real State Site</td>
                            <td>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-warning" style="width: 70%"></div>
                              </div>
                            </td>
                            <td><span class="badge bg-warning">70%</span></td>
                          </tr>
                          <tr>
                            <td>3.</td>
                            <td>Customer Care Service</td>
                            <td>
                              <div class="progress progress-xs progress-striped active">
                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                              </div>
                            </td>
                            <td><span class="badge bg-primary">30%</span></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-danger"><h5 class="description-header">7</h5></span>

                      <span class="description-text">Employee Absence</span><br>
                      <span class="text-secondary"><a href="pages/examples/invoice.html">View Details</a></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-warning"><h5 class="description-header">2</h5></span>

                      <span class="description-text">Pending Leave Application</span><br>
                      <span class="text-secondary"><a href="pages/examples/invoice.html">View Details</a></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"><h5 class="description-header">5</h5></span>

                      <span class="description-text">Upcoming Project</span><br>
                      <span class="text-secondary"><a href="pages/examples/invoice.html">View Details</a></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block">
                      <span class="description-percentage text-danger"> <h5 class="description-header">3</h5></span>

                      <span class="description-text">Loan Application</span><br>
                      <span class="text-secondary"><a href="pages/examples/invoice.html">View Details</a></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="col-md-12">
            <!-- MAP & BOX PANE -->
            <div class="card">

              <!-- /.card-header -->

              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="row">
              <div class="col-md-6">
                <!-- DIRECT CHAT -->
                <div class="card direct-chat direct-chat-warning">

                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- Conversations are loaded here -->

                    <!--/.direct-chat-messages-->

                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                      <ul class="contacts-list">
                        <li>
                          <a href="#">
                            <img class="contacts-list-img" src="" alt="User Avatar">


                            <!-- /.contacts-list-info -->
                          </a>
                        </li>
                        <!-- End Contact Item -->



                            <!-- /.contacts-list-info -->

                        <!-- End Contact Item -->

                        <!-- End Contact Item -->

                        <!-- End Contact Item -->

                        <!-- End Contact Item -->

                        <!-- End Contact Item -->
                      </ul>
                      <!-- /.contacts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                  </div>
                  <!-- /.card-body -->

                  <!-- /.card-footer-->
                </div>
                <!--/.direct-chat -->
              </div>
              <!-- /.col -->

              <div class="col-md-6">
                <!-- USERS LIST -->

                <!--/.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Employee Leave List</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>Employee ID</th>
                      <th>Department</th>
                      <th>Name</th>
                      <th>Reason</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a href="pages/examples/invoice.html">123</a></td>
                      <td>Sales</td>
                      <td>Asif</td>
                      <td>Sickness</td>

                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                      </td>
                      <td><span class="badge badge-success">Approved</span></td>

                    </tr>

                    <tr>
                      <td><a href="pages/examples/invoice.html">123</a></td>
                      <td>Accounting</td>
                      <td>Selim</td>
                      <td>Sickness</td>

                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                      </td>
                      <td><span class="badge badge-success">Approved</span></td>

                    </tr>

                    <tr>
                      <td><a href="pages/examples/invoice.html">123</a></td>
                      <td>Worker</td>
                      <td>Mamun</td>
                      <td>Exam</td>

                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                      </td>
                      <td><span class="badge badge-warning">Pending</span></td>

                    </tr>

                    <tr>
                      <td><a href="pages/examples/invoice.html">123</a></td>
                      <td>Management</td>
                      <td>Rony</td>
                      <td>For Refreshment</td>

                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">25/03/2023</div>
                      </td>
                      <td><span class="badge badge-danger">Cancelled</span></td>






                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Manage Leave</a>
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->


          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
