
<app-navbar></app-navbar>
 
<div class="content-wrapper">
  <br>
  <br>
  <br>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Welcome</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="productName" placeholder="Enter Product Name">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="searchStocksByProductName()">Search</button>
        </div>
      </div>
    </div>
    
    <div *ngIf="showTable" class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>RegistrationNo</th>
            <th>Supplaier Name</th>
            <th>Supplaier Number</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
            <td>{{ stock.product.productName }}</td>
            <td>{{ stock.product.productDetails.registrationNo }}</td>
            <td>{{ stock.supplier.supplierName }}</td>
            <td>{{ stock.supplier.phoneNumber }}</td>
            <td>{{ stock.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
