<app-navbar></app-navbar>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Advanced Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Advanced Form</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <form [formGroup]="form2" (ngSubmit)="submit()">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Product</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" formGroupName="product">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control" id="productName" placeholder="Product Name"
                                        formControlName="productName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" formGroupName="product">
                                    <label>Product Type</label>
                                    <input type="text" class="form-control" id="p-type" placeholder="Product Type"
                                        formControlName="productType">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Purchase Product</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Registration No</label>
                                    <input type="text" class="form-control" id="registrationNo"
                                        placeholder="Registration No" formControlName="registrationNo">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Engine Number</label>
                                    <input type="text" class="form-control" id="engineNo" placeholder="Engine Number"
                                        formControlName="engineNumber">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Number of Cylinders</label>
                                    <input type="number" class="form-control" id="numberOfCylinders"
                                        placeholder="Number of Cylinders" formControlName="numberOfCylinders">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Body</label>
                                    <select class="form-control" id="body" formControlName="body">
                                        <option value="" disabled selected>Choose Body Material</option>
                                        <option value="steel">Steel</option>
                                        <option value="aluminum">Aluminum</option>
                                        <option value="carbon-fiber">Carbon Fiber</option>
                                        <option value="fiberglass">Fiberglass</option>
                                    </select>
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Mileage</label>
                                    <input type="number" class="form-control" id="mileage" placeholder="Mileage"
                                        formControlName="mileage">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Seating Capacity</label>
                                    <input type="number" class="form-control" id="seatingCapacity"
                                        placeholder="Seating Capacity" formControlName="seatingCapacity">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Exterior Color</label>
                                    <select class="form-control" id="exteriorColor" formControlName="exteriorColor">
                                        <option value="" disabled selected>Choose Exterior Color</option>
                                        <option value="red">Red</option>
                                        <option value="blue">Blue</option>
                                        <option value="green">Green</option>
                                        <option value="black">Black</option>
                                        <option value="black">Silver</option>
                                        <option value="black">White</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Chassis Number</label>
                                    <input type="text" class="form-control" id="chassisNo" placeholder="Chassis Number"
                                        formControlName="chassisNo">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Cubic Capacity</label>
                                    <input type="text" class="form-control" id="cubicCapacity"
                                        placeholder="Cubic Capacity" formControlName="cubicCapacity">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Number of Tyres</label>
                                    <input type="number" class="form-control" id="noOfTyres"
                                        placeholder="Number of Tyres" formControlName="noOfTyres">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Year of Manufacture</label>
                                    <input type="date" class="form-control" id="yearOfManufacture"
                                        placeholder="Year of Manufacture" formControlName="yearOfManufacture">
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Drive</label>
                                    <select class="form-control" id="drive" formControlName="drive">
                                        <option value="" disabled selected>Choose Drive Type</option>
                                        <option value="front-wheel-drive">Front Wheel Drive</option>
                                        <option value="rear-wheel-drive">Rear Wheel Drive</option>
                                        <option value="all-wheel-drive">All Wheel Drive</option>
                                        <option value="four-wheel-drive">Four Wheel Drive</option>
                                    </select>
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Fuel Type</label>
                                    <select class="form-control" id="fuelType" formControlName="fuelType"
                                        placeholder="Fuel Type">
                                        <option value="petrol">Petrol</option>
                                        <option value="diesel">Diesel</option>
                                        <option value="electric">Electric</option>
                                        <option value="hybrid">Hybrid</option>
                                    </select>
                                </div>

                                <div class="form-group" formGroupName="productDetails">
                                    <label>Exported From</label>
                                    <select class="form-control" id="exportedFrom" formControlName="exportedFrom">
                                        <option value="Japan">Japan</option>
                                        <option value="Dubai">Dubai</option>
                                        <option value="China">China</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-12 col-sm-12">
                                <div class="form-group" formGroupName="productDetails">
                                    <label>Car Features</label>
                                    <textarea class="form-control" id="carFeatures" placeholder="Car Features"
                                        formControlName="carFeatures"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Stock and Supplier</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" formGroupName="stock">
                                    <label>Quantity</label>
                                    <input type="number" class="form-control" id="quantity" placeholder="Quantity"
                                        formControlName="quantity">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" formGroupName="stock">
                                    <label>Supplier</label>
                                    <select class="form-control" formControlName="supplier.supplierId">
                                        <option *ngFor="let v of supplierList" [value]="v.supplierId">{{v.supplierName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Purchase Detail</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" formGroupName="purchase">
                                    <label>Purchase Date</label>
                                    <input type="date" class="form-control" id="purchaseDate"
                                        placeholder="Purchase Date" formControlName="purchaseDate">
                                </div>

                                <div class="form-group" formGroupName="purchase">
                                    <label>Payment Method</label>
                                    <select class="form-control" id="payment" formControlName="payment">
                                        <option value="" disabled selected>Select Payment Method</option>
                                        <option value="cash">Cash</option>
                                        <option value="cheque">Cheque</option>
                                        <option value="credit-card">Credit Card</option>
                                        <option value="debit-card">Debit Card</option>
                                        <option value="paypal">PayPal</option>
                                        <option value="bank-transfer">Bank Transfer</option>
                                    </select>
                                </div>


                                <div class="form-group" formGroupName="purchase">
                                    <label>Total Amount</label>
                                    <input type="number" class="form-control" id="totalAmount"
                                        placeholder="Total Amount" formControlName="totalAmount">
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group" formGroupName="purchase">
                                    <label>Price</label>
                                    <input type="number" class="form-control" id="price" placeholder="Price"
                                        formControlName="price">
                                </div>

                                <div class="form-group" formGroupName="purchase">
                                    <label>Discount</label>
                                    <input type="number" class="form-control" id="discount" placeholder="Discount"
                                        formControlName="discount">
                                </div>

                                <div class="form-group" formGroupName="purchase">
                                    <label>Warranty</label>
                                    <input type="text" class="form-control" id="warranty" placeholder="Warranty"
                                        formControlName="warranty">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group" formGroupName="purchase">
                                <label>Delivery Address</label>
                                <textarea class="form-control" id="deliveryAddress" placeholder="Delivery Address"
                                    formControlName="deliveryAddress"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-50 mx-auto">Submit</button>
            </div>
        </form>
    </section>
</div>